*{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.podium-flex-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 208, 186);
    height: 100vh;
    margin: 0;
}
.podium-flex-container > div{
    background-color: rgb(244, 228, 206);
    margin: 10px;
    padding: 20px;
}
.podium-title{
    text-align: center;
}
.podium-content {
    display: flex;
    justify-content: center;

    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust 100px based on title height */
}

#player-ranking-list{
    padding-left: 10px;
}
#player-ranking-list li{
    list-style: none;
}
/* #player-ranking-list li{
    list-style: none;
    border: 1px solid black;
    border-radius: 1000px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0px 0px 10px rgb(124, 108, 86);
}
#player-ranking-list li:hover{
    box-shadow: 0px 0px 10px rgb(124, 108, 86);
} */

/* #player-ranking-list li{
    list-style: none;
} */
.score-data{
    /* border: 10px groove rgb(224, 208, 186); */
    border-collapse: collapse;
    border-radius: 1000px;
}
.score-data td{
    border: 5px solid rgb(224, 208, 186);
    padding: 5px 20px;
}

.score-data tr:hover td{
    border: 5px groove rgb(224, 208, 186);
}

li:nth-of-type(odd) tr{
    background-color: rgb(254, 238, 226);
    
    /* padding: 5px 20px; */
}


/* .podium-bottom-buttons{
    bottom: 0;
    height: 30px;
} */

.expand-button{
    position: absolute;
    padding: 30px 10px;
    bottom: 40px;
    right: 10px;
    border: none;
    background-color: rgb(224, 208, 186);
    font-weight: bolder;
    font-size: 30pt;
    font-stretch: ultra-condensed;
}
.expand-button:hover {
    cursor: pointer;
    background-color: rgb(214, 198, 176);
}
iframe{
    border: none;
}