body{
    margin: 0;
}
.podium-flex-container{
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
    margin: 0;
}
.podium-flex-container > div{
    background-color: white;
    margin: 10px;
    padding: 20px;
}
.podium-title{
    text-align: center;
    border: solid 1px black;
}
.podium-content {
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Adjust 100px based on title height */
}

#player-ranking-list li{
    border: 1px solid black;
    border-radius: 1000px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0px 0px 10px;
}